DATABASE_URL="postgresql://postgres:postgres@localhost:5432/nowtravels_helpdesk?schema=public"

NEXT_PUBLIC_APP_NAME="Nowtravels ICT Helpdesk"
NEXT_PUBLIC_APP_URL="http://127.0.0.1:3000"

MICROSOFT_ENTRA_TENANT_ID=""
MICROSOFT_ENTRA_CLIENT_ID=""
MICROSOFT_ENTRA_CLIENT_SECRET=""
MICROSOFT_GRAPH_SENDER="ictsupport@nowtravels.com"

AUTH_SECRET=""
AZURE_STORAGE_CONNECTION_STRING=""
AZURE_STORAGE_CONTAINER="ticket-attachments"
APPINSIGHTS_CONNECTION_STRING=""
